@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ca5ae9da;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;

    p {
      font-size: 18px;
      font-family: "Saira", sans-serif;
      margin: 0;
      padding: 5px 10px 5px 20px;
      color: #000000;

      &:hover {
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  
    .logo {
      align-items: center;
      padding-left: 10px;
  
      .borboleta {
        width: 18vh;
      }
    }
  
    .menu {
      list-style: none;
      padding-left: 10px;
  
      li {
        margin-bottom: 14px;
        margin-top: 14px;
  
        a {
          text-decoration: none;
          font-size: 18px;
          font-family: "Saira", sans-serif;
          color: #000000;
          transition: color 0.3s;
  
          &:hover {
            cursor: pointer;
            color: #ecf0f1;
          }
        }
      }
    }
  }