<div class="sidebar">
    <ul class="menu">
      <h1>
        <li><a routerLink="/">INICIO</a></li>
      </h1>
      <h1>
        <li><a routerLink="/agendamentos">AGENDAMENTOS</a></li>
        <p>Paciente</p>
        <p>Consultar</p>
      </h1>
      <h1>
        <li><a routerLink="/relatorio">RELATORIO</a></li>
        <p>Grafico Geral</p>
        <p>Geral</p>
        <p>Pacientes</p>
      </h1>
      <h1>
        <li><a routerLink="/cadastro">CADASTRO</a></li>
        <p>Consultar</p>
      </h1>
      <h1>
        <li><a routerLink="/suporte">SUPORTE</a></li>
      </h1>
    </ul>
    <div class="logo">
        <img class="borboleta" src="/borboleta.png" alt="logo">
    </div>
  </div>
  
  <div class="novos-pacientes">
    <h1>NOVOS PACIENTES</h1>
  </div>