@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");
@import '@angular/material/prebuilt-themes/indigo-pink.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
  }

  body {
    height: 100vh;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  
  .sidebar {
    width: 250px;
    height: 100vh;
    position: relative;
    background-size: cover;
    padding: 20px;
    border-right: 2px;
    top: 0;
    left: 0;

    &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/leo2.jpg");
    background-size: cover;     // Ajuste da imagem
    background-position: center; // Centraliza a imagem
    opacity: 0.5;               // Define a opacidade da imagem de fundo
    z-index: -1;
    }

    //.home{
     // display: flex;
     // flex-direction: row;
     // align-items: center;
    //gap: 10px;
    //}

    .titleicon{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    p {
      font-size: 18px;
      font-family: "Saira", sans-serif;
      margin: 0;
      padding: 5px 10px 5px 20px;
      color: #000000;

      &:hover {
        color: #aa4ee7;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  
    .logo {
      align-items: center;
      padding-left: 10px;
  
      .borboleta {
        width: 18vh;
      }
    }
  
    .menu {
      list-style: none;
      padding-left: 10px;
  
      li {
        margin-bottom: 14px;
        margin-top: 14px;
  
        a {
          text-decoration: none;
          font-size: 18px;
          font-family: "Saira", sans-serif;
          color: #000000;
          transition: color 0.3s;
  
          &:hover {
            cursor: pointer;
            color: #aa4ee7;
          }
        }
      }
    }
  }

  .items{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .novos-pacientes{
      background-color: #aa4ee78c;
      height: 50%;
      border-radius: 10px;
     h1{
      flex: 1;
      padding: 15px 0 0 25px;
      color: #000000;
      font-size: 25px;
      font-family: "Saira", sans-serif;
     }
     
    }

    .calendario-container{
      margin-top: 20px;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mat-calendar{
      width: 100%;
      height: auto;
    }
    
    mat-datepicker {
      width: 100%;
    }
  }

  


  .table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }

  .table-header, .table-content{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 10px;
  }

  .title{
    flex: 1;
    text-align: center;
    padding: 10px;
    color: #000000;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .column{
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #ffffffdc;
    border-radius: 5px;
  }

  .table-header .column {
    font-weight: bold;
}