<div class="sidebar">
    <ul class="menu">
      <h1>
        <li><a routerLink="/">Início</a></li>
      </h1>
      <h1>
        <li><a routerLink="/agendamentos">Agendamentos</a></li>
        <p>Paciente</p>
        <p>Consultar</p>
      </h1>
      <h1>
        <li><a routerLink="/relatorio">Relatório</a></li>
      </h1>
      <h1>
        <li><a routerLink="/cadastro">Cadastro</a></li>
      </h1>
      <h1>
        <li><a routerLink="/suporte">Suporte</a></li>
      </h1>
    </ul>
    <div class="logo">
        <img class="borboleta" src="/borboleta.png" alt="logo">
    </div>
  </div>
  