@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Just me Again Down Here';
  box-sizing: border-box;
}

img {
  width: 24px;
  height: 24px;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('/fundo.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}